/* Estilo base */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #000000 0%, #ffffff 100%);
    padding: 0 1.875rem;
    color: var(--secondary-color);
    overflow: hidden;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 75rem;
}

/* Animación para el texto */
.about-text {
    max-width: 50%;
    text-align: left;
    margin-right: 1.875rem;
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    transform: translateX(-3.125rem);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Título */
.about-text h2 {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.25rem;
    border-bottom: 0.1875rem solid var(--accent-color);
    padding-bottom: 0.625rem;
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--secondary-color);
    margin-top: 1.25rem;
    font-family: 'Poppins', sans-serif;
}

/* Animación para la imagen */
.about-img {
    max-width: 40%;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transform: translateX(3.125rem);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.about-img-content {
    width: 100%;
    height: auto;
    border-radius: 0.9375rem;
    box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-img-content:hover {
    transform: scale(1.05);
    box-shadow: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.15);
}

.about-text.visible,
.about-img.visible {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Estilo responsivo para dispositivos móviles */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        padding: 1.25rem;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        max-width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 1.25rem;
    }

    .about-text h2 {
        font-size: 2rem; /* Tamaño más pequeño para el título */
        margin-bottom: 1rem;
    }

    .about-text p {
        font-size: 1rem; /* Reduce el tamaño del texto */
        line-height: 1.5;
    }

    .about-img {
        max-width: 80%; /* Aumenta el tamaño relativo de la imagen */
    }

    .about-img-content {
        border-radius: 0.625rem; /* Bordes más pequeños en móvil */
    }
}
