.projects {
    background-color: rgba(255, 0, 0, 0.1); /* Fondo temporal para ver la sección */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0f0f0f;
    padding: 0 1.875rem; /* 30px */
    color: var(--secondary-color);
    min-height: 100vh;
    margin-bottom: 2.5rem; /* 40px */
    border: none;
    opacity: 0;
    transform: translateY(1.25rem); /* 20px */
    transition: opacity 1s ease, transform 1s ease;
}

.projects.show {
    opacity: 1;
    transform: translateY(0); /* Vuelve a su posición original */
}

.projects-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 62.5rem; /* 1000px */
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.125rem; /* 2px */
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.875rem; /* 30px */
    border-bottom: 0.1875rem solid var(--accent-color); /* 3px */
    padding-bottom: 0.625rem; /* 10px */
}

.projects-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 1.25rem; /* 20px */
    margin-top: 1.25rem; /* 20px */
}

.project-card {
    background-color: #fff;
    border-radius: 0.9375rem; /* 15px */
    box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.1); /* 10px 30px */
    width: calc(33.333% - 1.25rem); /* 20px */
    overflow: hidden;
    transition: transform 5.5s ease, box-shadow 5.5s ease;
    display: flex;
    flex-direction: column;
    margin-top: 1.875rem; /* 30px */
    border: none;
    opacity: 0;
    transform: translateY(1.875rem); /* 30px */
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.project-card.show {
    opacity: 1;
    transform: translateY(0);
}

.project-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.2); /* 20px 40px */
}

.project-card img {
    width: 100%;
    height: 11.25rem; /* 180px */
    object-fit: cover;
}

.project-info {
    padding: 0.9375rem; /* 15px */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-info h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.9375rem; /* 15px */
    color: #1a1919;
}

.project-info p {
    font-size: 1.1rem;
    color: #7f8c8d;
    margin-bottom: 1.25rem; /* 20px */
    font-family: 'Poppins', sans-serif;
}

.project-info .btn {
    display: inline-block;
    background-color: #1a1919;
    color: #fff;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 0.3125rem; /* 5px */
    transition: background-color 0.3s ease;
}

.project-info .btn:hover {
    background-color: #1a1919;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 48rem) { /* 768px */
    .projects {
        min-height: auto; /* En pantallas móviles, no forzamos que ocupe toda la altura */
        padding-top: 1.25rem; /* 20px */
    }

    .projects-list {
        justify-content: center;
        gap: 0.9375rem; /* 15px */
    }

    .project-card {
        width: 100%;
        max-width: 21.875rem; /* 350px */
        margin-top: 1.25rem; /* 20px */
    }

    .project-card img {
        height: 9.375rem; /* 150px */
    }

    .project-info {
        padding: 0.625rem; /* 10px */
    }

    .section-title {
        font-size: 2rem;
        margin-bottom: 1.25rem; /* 20px */
    }
}
