.services {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa toda la pantalla */
    background: linear-gradient(135deg, #000000 0%, #ffffff 100%);
    padding: 50px 30px;
    color: var(--secondary-color);
    opacity: 0;  /* Inicia oculta */
    transform: translateY(20px);  /* Desplazada hacia abajo */
    transition: opacity 1s ease, transform 1s ease;  /* Transición suave para aparecer */
}

.services.show {
    opacity: 1;
    transform: translateY(0);  /* Vuelve a su posición original */
}

.services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.section-title {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 50px;
    border-bottom: 3px solid var(--accent-color);
    padding-bottom: 10px;
}

.services-list {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

/* Animación para las tarjetas de servicios */
.service-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    max-height: 350px;
    opacity: 0; /* Inicia oculta */
    transform: translateY(30px); /* Desplazada hacia abajo */
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.service-card.show {
    opacity: 1;
    transform: translateY(0); /* Vuelve a su posición original */
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.service-card i {
    font-size: 3rem;
    color: var(--accent-color);
    margin-bottom: 10px;
}

.service-card h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #1a1919;
}

.service-card p {
    font-size: 1rem;
    color: #7f8c8d;
    font-family: 'Poppins', sans-serif;
}

/* Media Queries */
@media (max-width: 768px) {
    .services {
        padding: 20px 15px;
    }

    .services-list {
        gap: 15px;
    }

    .service-card {
        width: calc(50% - 15px);
        min-height: 200px;
        max-height: 280px;
        padding: 15px;
    }

    .service-card h3 {
        font-size: 1.4rem;
    }

    .service-card p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .service-card {
        width: 100%;
        min-height: 180px;
        padding: 10px;
    }

    .service-card h3 {
        font-size: 1.2rem;
    }

    .service-card p {
        font-size: 0.8rem;
    }
}
